@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
/* body */
body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h3 {
  font-size: 24px;
}

/* header */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 6px 0 #7e7e7e;
  padding: 4px;
  position: relative;
}

/* location */
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background-color: #f3f3f3;
  text-align: center;
  padding: 3px;
}
.location i {
  font-size: 24px;
}

/* discovery */
.discovery {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
}
.discovery p {
  font-size: 16px;
  margin-bottom: 30px;
}
.discovery button {
  color: white;
  font-size: 20px;
  border: none;
  padding: 16px 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  border-radius: 32px;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
}
.discovery button:hover {
  transform: scale(1.04);
  opacity: 0.9;
}

/* fonctionnement */
.function {
  padding: 0 32px;
  padding-top: 20px;
  padding-bottom: 60px;
  counter-reset: numbers;
}
.function ol {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline-start: 0px;
}
.function li {
  position: relative;
  list-style-type: none;
  font-weight: bold;
  background-color: #f6f6f6;
  padding: 25px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
  transition: transform 200ms;
}
.function li::before {
  counter-increment: numbers;
  content: counter(numbers);
  color: white;
  background-color: #9356dc;
  display: grid;
  place-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  left: -12px;
}
.function li:hover {
  transform: scale(1.04);
}
.function li i {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 20px;
}

/* restos */
.restos {
  background-color: #f6f6f6;
  padding: 0 32px;
  padding-top: 20px;
  padding-bottom: 70px;
}
.restos .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.restos .cards .nouveau {
  position: relative;
}
.restos .cards .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 32px;
  width: 90px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  top: 16px;
}
.restos .cards .card {
  flex-grow: 1;
  min-width: 20rem;
  width: 35%;
  border-radius: 24px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1803921569);
}
.restos .cards .details {
  position: relative;
}
.restos .cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
}
.restos .cards h4 {
  font-size: 18px;
  margin: 16px;
}
.restos .cards p {
  margin-left: 16px;
  margin-top: -12px;
}
.restos .cards i {
  font-size: 30px;
  position: absolute;
  right: 32px;
  top: 23%;
}

/* footer */
footer {
  background-color: #353535;
  padding: 0 32px;
  padding-top: 1px;
  padding-bottom: 20px;
}
footer h5 {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
  font-weight: 500;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
}
footer p {
  color: white;
}
footer .fa-hands-helping {
  margin-right: 10px;
}
footer .fa-utensils {
  margin-right: 16px;
}

/*# sourceMappingURL=style.css.map */
